# Dependencias
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build de Next.js
.next
out
build

# Archivos de desarrollo
.git
.gitignore
.env*.local
.vscode
.idea

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# README y documentación de desarrollo
README.md
